/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h2 {
    margin-bottom: 20px;
    color: #007bff;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
button {
    width: 100%; /* Take full width */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add vertical spacing */
}

button:last-child {
    margin-bottom: 20px; /* Add extra spacing below the last button */
}

button:hover {
    background-color: #0056b3;
}

/* Homework list styles */
.homework-list {
    margin-top: 20px;
}

.homework-record {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    position: relative;
}

.class-description {
    font-weight: bold;
}

.task-container {
    position: relative;
    display: flex;
    align-items: center;
}

.task-description {
    flex: 1;
    margin-right: 40px; 
}

.square-placeholder {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-right: 5px;
}

.square-placeholder:hover {
    padding: 5px;
    background-color: #ddd;
}

.remove-button {
    padding: 0;
    width: auto;
    background-color: transparent;
    color: #dc3545;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 1;
}

.remove-button:hover {
    padding: 5px;
    background-color: #f8d7da;
}

/* History container styles */
.history-container {
    max-height: 200px;
    max-width: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.history-record {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}
